
<div class="row">
  <div class="small5-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small5-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small5-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small5-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small5-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small7-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small8-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small9-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small10-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small11-1 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<div class="row">
  <div class="small12-6 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
  <div class="small12-6 columns"><div class="block"> hfuidshfuds hudsihfu hudis</div></div>
</div>

<style type="text/css">

.count1 {
	background-color: #FAFAFA;
}

.count2 {
	background-color: #C3C3C3;
}

.block {
	border-style: solid;
    border-width: 1px;
    height: 90px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blockmenu {
	border-style: solid;
    border-width: 1px;
    height: 30px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bigblock {
	border-style: solid;
    border-width: 1px;
    height: 250px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
	border-color: blue; 
	border-style: solid;
    border-width: 1px;
}
</style>  